
<div class="container">

    <div class="row m-3">
        container for buttons

    </div>
    <div class="row align-items-start">

        <div class="col-3">
            <!-- <ul *ngIf="persons" class="list-group list-group-item-action">
                <li class="list-group-item"  *ngFor="let person of persons;" (click)="onPersonSelected(person)" >{{person.name}}</li>
                 -->
                <table *ngIf="persons" class="table table-striped table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Ім'я</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let selectedPerson of persons; let i = index;" [ngClass]="{'table-active' : selectedPerson.id == person?.id }" class="pointer"
                       (click)="onPersonSelected(selectedPerson)">
                        <th>{{i}}</th>
                        <td >{{selectedPerson.name}}</td>
                      </tr>
                </table>
       
        </div>

        <div class="col-9">
            <table *ngIf="tracks && person" class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">id</th>
                    <th scope="col">Адреса</th>
                    <th scope="col">Довгота </th>
                    <th scope="col">Широта</th>
                    <th scope="col">Азимут</th>
                    <th scope="col">Дата:час</th>
                    <th scope="col" class="pointer" (click)="onTrackToAdd()">+</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let track of tracks; let i = index;">
                    <th scope="row" (click)="onTrackSelected(track)">{{i}}</th>
                    <th (click)="onTrackSelected(track)">{{track.id}}</th>
                    <td (click)="onTrackSelected(track)">{{track.address}}</td>
                    <td (click)="onTrackSelected(track)">{{track.lng }}</td>
                    <td (click)="onTrackSelected(track)">{{track.lat}}</td>
                    <td (click)="onTrackSelected(track)">{{track.azim }}</td>
                    <td (click)="onTrackSelected(track)">{{track.dateTime.getDay()}}.{{track.dateTime.getMonth()}}.{{track.dateTime.getFullYear()}} / {{track.dateTime.getMinutes()}}:{{track.dateTime.getHours()}}</td>
                    <td class="pointer" (click)="onTrackDeleted(track)" > - </td>
                  </tr>

              </table>
        </div>



    </div>

</div>



  
