<div class="container pt-2">
    <div class="row">
        <div class="col-6 mx-auto ">
            <h5>Створити аккаунт</h5>
            <div *ngIf="isInvalid && errorFields"> 
                <span class="text-danger" *ngFor="let err of errorFields">{{err}} <br></span>     
            </div>
            <form role="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()"  autocomplete="off">
                <div class="mb-3">
                    <label for="newUserName" class="form-label">Логін*</label>
                    <input #newUserNameInpup type="text" class="form-control" id="newUserName" formControlName="newUserName" placeholder="логін" autocomplete="off">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Пароль*</label>
                    <input #passwordInput type="password" class="form-control" id="password" formControlName="password" placeholder="пароль" autocomplete="new-password">
                </div>
                <div class="mb-3 form-check">
                    <input #rememberCheckbox type="checkbox" class="form-check-input" id="remember" formControlName="remember" autocomplete="off">
                    <label class="form-check-label" for="remember">Запам'ятати</label>
                </div>
                <button type="submit" class="btn btn-primary">Створити та увійти</button>
            </form>
        </div>
    </div>
</div>
